.idea
.env
node_modules/
.dev-bin/
# Python related stuff
.pyc
__pycache__/
venv/
.venv
# haskell/stack related files
.stack-work/
_stack-work/
dist-newstyle/
.hie/
# SQLite database files
*.sqlite
*.sqlite3
*.db
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
# Except the seed DB
!seed.sqlite3
